<article class="card card-product-list">
	<div class="card-body">
	<div class="row">
		<aside class="col-sm-3">
			<a href="#" class="img-wrap"><img class="img-fluid" [src]="dataInView.url"></a>
		</aside> <!-- col.// -->
		<article class="col-sm-6">
				<h5 class="title mt-2 h5">{{dataInView.name | uppercase}}</h5>
				<p>{{dataInView.description}}</p>
		</article> <!-- col.// -->
		<aside class="col-sm-3">
				<div class="price-wrap mt-2">
					<span class="price h5"> {{dataInView.price | currency}}</span>
					<del class="price-old"> {{dataInView.oldprice | currency}}</del>
				</div> <!-- info-price-detail // -->

				<p class="small text-success"> Envío gratis </p>
				<br>
				<p>
					<a href="#" class="btn btn-primary"> Comprar ahora </a>
					<a href="#" class="btn btn-light"> Detalles  </a>
				</p>
				<br>
				<a href="#" class="small"><i class="fa fa-heart"></i> Agregar a la lista de deseos</a>
		</aside> <!-- col.// -->
	</div> <!-- row.// -->
	</div> <!-- card-body .// -->
</article>
<section class="pb-5">
  <div class="container">
    <h1 class="text-center mt-2">Otros Productos</h1>
    <div class="c-gridCont">
      <div class="c-gridCont_item" *ngFor="let card of dataCards | filterProduct:idProductView">
        <poli-cards [Card]=card></poli-cards>
      </div>

    </div>
  </div>
</section>

