<section class="bgimage">
  <div class="container-fluid">
    <div class="row p-3">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
          <h5>Bienvenidos a CarWash</h5>
          <p>En esta pagina encontraras los productos y servicios que ofrecemos</p>
          <p><a [routerLink]="['nosotros']" class="btn btn-primary btn-large">Sobre Nosotros »</a></p>
        </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h1 class="text-center mt-2">Principales productos</h1>
    <div class="c-gridCont">
      <div class="c-gridCont_item" *ngFor="let card of dataCards">
        <!-- <pre>{{card |json}}</pre> -->
        <poli-cards [Card]=card></poli-cards>
      </div>

    </div>
  </div>
</section>
<section class="sectionBg flex-row align-items-center justify-content-center">
  <h3>Frase destacada o frase de clientes</h3>
</section>
<section>
  <div class="container mt-2">
    <h1 class="text-center mt-2">Servicios</h1>
    <div class="row flex-row align-items-center justify-content-center">
      <div class="col-md-6">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque quis maiores vel quo velit ipsa ab perferendis at sint voluptates expedita cum aperiam dolores, omnis nemo rem. Quam, culpa eligendi.
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni quam alias voluptas nemo itaque incidunt iure error et amet quae sint, repudiandae, fugiat pariatur accusamus molestias fuga illo provident accusantium.
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni quam alias voluptas nemo itaque incidunt iure error et amet quae sint, repudiandae, fugiat pariatur accusamus molestias fuga illo provident accusantium.
        </p>
      </div>
      <div class="col-md-6">
        <poli-gallery></poli-gallery>
      </div>
    </div>
  </div>
</section>
