<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li>
        </li>
      </ul>
      <button type="button" class="btn btn-primary my-2 my-lg-0" data-toggle="modal" data-target="#exampleModal">
        Login
      </button>          
    </div>
  </div>
</nav>
<section class="bgimage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
        <h5>Hello, world! Full width Hero-unit header</h5>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h1 class="text-center mt-2">Principales productos</h1>
    <div class="c-gridCont">
      <div class="c-gridCont_item">
        <div class="card">
          <img src="http://via.placeholder.com/250" class="card-img-top" alt="http://via.placeholder.com/250">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="c-gridCont_item">
        <div class="card">
          <img src="http://via.placeholder.com/250" class="card-img-top" alt="http://via.placeholder.com/250">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="c-gridCont_item">
        <div class="card">
          <img src="http://via.placeholder.com/250" class="card-img-top" alt="http://via.placeholder.com/250">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="c-gridCont_item">
        <div class="card">
          <img src="http://via.placeholder.com/250" class="card-img-top" alt="http://via.placeholder.com/250">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sectionBg flex-row align-items-center justify-content-center">
  <h3>Frae destacada o frase de clientes</h3>
</section>
<section>
  <div class="container mt-2">
    <h1 class="text-center mt-2">Servicios</h1>
    <div class="row flex-row align-items-center justify-content-center">
      <div class="col-md-6">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque quis maiores vel quo velit ipsa ab perferendis at sint voluptates expedita cum aperiam dolores, omnis nemo rem. Quam, culpa eligendi.
        </p>  
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni quam alias voluptas nemo itaque incidunt iure error et amet quae sint, repudiandae, fugiat pariatur accusamus molestias fuga illo provident accusantium.
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni quam alias voluptas nemo itaque incidunt iure error et amet quae sint, repudiandae, fugiat pariatur accusamus molestias fuga illo provident accusantium.
        </p>
      </div>
      <div class="col-md-6">
        <div class="row ">
          <div class="col-sm-6 mt-2">
            <img src="http://via.placeholder.com/250" class="card-img-top" alt="http://via.placeholder.com/250">
          </div>
          <div class="col-sm-6 mt-2">
            <img src="http://via.placeholder.com/250" class="card-img-top" alt="http://via.placeholder.com/250">
          </div>
          <div class="col-sm-6 mt-2">
            <img src="http://via.placeholder.com/250" class="card-img-top" alt="http://via.placeholder.com/250">
          </div>
          <div class="col-sm-6 mt-2">
            <img src="http://via.placeholder.com/250" class="card-img-top" alt="http://via.placeholder.com/250">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<footer class="c-footer navbar navbar-dark bg-dark mt-4">
  <p>Migue works!!</p>
</footer>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>